*.jpg
*.png
*.tiff
*.mov
*.mp3
*.bak
*~
.DS_Store

*.jpg alias
*.mp4
*.gz
*.bz2
*.xz
*.m4a

Renders
*.pdf
*.pxm
*.eps
Artwork/full-fibre-nbn-vine/full-fibre-nbn.key/Contents/PkgInfo

Logos/experiments
